[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/nerdTreeTabs"]
	path = bundle/nerdTreeTabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/corntrace/bufexplorer.git
[submodule "bundle/miniBufExpl"]
	path = bundle/miniBufExpl
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
